/* bagian main service */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

.main{
    float: left;
    padding-left: 100px;
    
}


.main h1{
    position: absolute;
    width: 238px;
    height: 46px;
    left: 103px;
    top: 965px;

    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 39px;
    line-height: 46px;
}

.service p{
    position: absolute;
    width: 468px;
    height: 168px;
    left: 103px;
    top: 1035px;
    font-family: "roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    text-align: justify;   
}
.btn-service{
    position: absolute;
    width: 284px;
    height: 28px;
    left: 103px;
    top: 1200px;
    font-family: "roboto";
    font-weight: normal;
    line-height: 28px;
    text-align: justify;
    
}

button{
    font-size: 15px;
    font-style: normal;
    position: left;
    width: 190px;
    height: 30px;
    background: white;
    border-radius: 10px;
}

.btn-service :hover{
    background-color: aquamarine;
}

.video{
    position: absolute;
    width: 628px;
    height: 338px;
    left: 711px;
    top: 1000px;
}